img{
    margin: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}

.fa.fa-heart{
    color: red;
}

button{
        border-radius: 73%;
    background: white;
}

h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p.name{
    font-family: 'Montserrat', sans-serif;
}

