

<div *ngFor="let favorite of favorites">
   <img src="{{favorite.image[4]['#text']}}" alt="">
    <p class="name">{{favorite.name}} </p>

</div>


<!--<div *ngFor="let artiste of artistes">
{{artiste.artiste}} - {{artiste.titre}}  
<img src="{{artiste.imageAlbum}}">
</div>-->

<div *ngFor="let disco of discos">
<img src="{{disco.image[4]['#text']}}" alt="">
<p class="name">{{disco.name}} </p>
 <button (click)="likeArtiste(disco)" >
 <i [ngClass]='favorites.includes(disco) ? "fa fa-heart" : "fa fa-heart-o"' aria-hidden="true"></i>
</button>
   
   
  
  
  </div>
